body, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}

.img_class{
    position: relative;
    width: 20%;
    height: 47%;
    border-radius: 50%;
    margin-left: 1%;
}

.navigation{
    background-color:antiquewhite;
    padding: 1% 0.5%;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    
}

.navigation ul{
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    list-style-type: none;
    display: flex;
}

.navigation li{
    float: left;
    font-size: large;
    font-weight: bold;
}

.sidebar{
    float: left;
    width: 100%;
    position: fixed;
   
}

.mainbar{
    width: 70%;
    float: right;
}

.card{
    width: 90%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: antiquewhite;
}

.card h2{
    padding: 2%;
}

.card h4{
    padding: 2%;
}

a:link{
    color: black;
}

a:hover{
    color: #d9adad;
}

a:visited{
    color: grey;
}


.card p{
    padding: 0% 2% 1% 2%;
    font-size: 14px;
    text-align: justify;
   
}

hr{
   border: none;
   border-top:  1px dotted gray;
    
}
